.signIn_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
}
.signIn_wrapper .parent_cont_left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 100px;
  background-color: #EEF0FF;
}
.signIn_wrapper .parent_cont_left .main_content_container {
  width: 450px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.signIn_wrapper .parent_cont_left .main_content_container .h3 {
  font: normal 700 40.1px/1.5 "Inter", sans-serif;
  color: #000000;
}
.signIn_wrapper .parent_cont_left .main_content_container .h4 {
  font: normal 700 33.42px/1.5 "Inter", sans-serif;
  color: #000000;
}
.signIn_wrapper .parent_cont_left .main_content_container .input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.signIn_wrapper .parent_cont_left .main_content_container .input_container .input {
  width: 450px;
  height: 60px;
  background-color: #D6D8FC;
  border: none;
  border-radius: 4px;
  outline: none;
  font: normal 400 19.2px/1.5 "Inter", sans-serif;
  padding: 15px 20px;
}
.signIn_wrapper .parent_cont_left .main_content_container .button_primary {
  width: 450px;
  height: 60px;
  background-color: #2B0046;
  border: none;
  border-radius: 4px;
  color: #EEF0FF;
  font: normal 700 27.85px/1.5 "Inter", sans-serif;
  cursor: pointer;
}
.signIn_wrapper .parent_cont_left .main_content_container .or_container {
  align-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
  width: 80%;
}
.signIn_wrapper .parent_cont_left .main_content_container .or_container .line {
  flex: 1;
  height: 1px;
  background-color: #6c757d;
}
.signIn_wrapper .parent_cont_left .main_content_container .or_container .or_text {
  padding: 0 30px;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields .custom_checkbox input[type=checkbox] {
  display: none;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields .custom_checkbox .checkbox_label:before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  vertical-align: middle;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields .custom_checkbox input[type=checkbox]:checked + .checkbox-label:before {
  background-color: #bada55;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields .custom_checkbox .checkbox_label {
  cursor: pointer;
  color: #000000;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields p {
  font: normal 400 13.3px/1.5 "Inter", sans-serif;
  color: #2B0046;
}
.signIn_wrapper .parent_cont_left .main_content_container .misc_fields .forgetPassLink {
  color: #000000;
}
.signIn_wrapper .parent_cont_left .main_content_container .button_secondary {
  width: 450px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font: normal 400 23px/1.5 "Inter", sans-serif;
  cursor: pointer;
}
.signIn_wrapper .parent_cont_left .main_content_container .welcome_text {
  font: normal 400 13.3px/1.5 "Inter", sans-serif;
  color: #000000;
}
.signIn_wrapper .parent_cont_left .main_content_container .register_link_container {
  align-self: center;
}
.signIn_wrapper .parent_cont_left .main_content_container .register_link {
  font: normal 400 19.2px/1.5 "Inter", sans-serif;
  color: #000000;
}
.signIn_wrapper .parent_cont_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: #2B0046;
}
.signIn_wrapper .parent_cont_right .h1 {
  font: normal 700 57.34px/1.5 "Inter", sans-serif;
  color: #EEF0FF;
}
.signIn_wrapper .parent_cont_right .p {
  font: normal 400 19.2px/1.5 "Inter", sans-serif;
  color: #EEF0FF;
}/*# sourceMappingURL=page.module.css.map */