@use "../../../styles/_base.scss" as base;

.signUp_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;

  .parent_cont_left {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
    background-color: base.$background;

    .main_content_container {
      width: 450px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .h3 {
        font: base.$h3;
        color: base.$black;

      }

      .h4 {
        font: base.$h4;
        color: base.$black;

      }

      .input_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .input {
          width: 450px;
          height: 60px;
          background-color: base.$background_light;
          border: none;
          border-radius: 4px;
          outline: none;
          font: base.$p_large;
          padding: 15px 20px;
        }
      }

      .button_primary {
        width: 450px;
        height: 60px;
        background-color: base.$primary;
        border: none;
        border-radius: 4px;
        color: base.$background;
        font: base.$h5;
        cursor: pointer;
      }

      .or_container {
        align-self: center;
        display: flex;
        align-items: center;
        text-align: center;
        color: #6c757d;
        width: 80%;

        .line {
          flex: 1;
          height: 1px;
          background-color: #6c757d;
        }

        .or_text {
          padding: 0 30px;
        }
      }

      .button_secondary {
        width: 450px;
        height: 60px;
        background-color: base.$white;
        border: 1px solid base.$black;
        border-radius: 4px;
        color: base.$black;
        font: base.$p_xlarge;
        cursor: pointer;
      }

      .welcome_text {
        font: base.$p_small;
        color: base.$black;

      }

      .signIn_link_container {
        align-self: center;
      }
      .signIn_link {
        font: base.$p_large;
        color: base.$black;
      }
    }
  }

  .parent_cont_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: base.$primary;

    .h1 {
      font: base.$h1;
      color: base.$background;
    }
    .p {
      font: base.$p_large;
      color: base.$background;
    }
  }
}
