$p_small: normal 400 13.3px/1.5 'Inter', sans-serif;
$p_reg: normal 400 16px/1.5 'Inter', sans-serif;
$p_large: normal 400 19.2px/1.5 'Inter', sans-serif;
$p_xlarge: normal 400 23px/1.5 'Inter', sans-serif;
$p_xxlarge: normal 400 27.6px/1.5 'Inter', sans-serif;
$p_xxxlarge: normal 400 33.12px/1.5 'Inter', sans-serif;

$h1: normal 700 57.34px/1.5 'Inter', sans-serif;
$h2: normal 700 48.12px/1.5 'Inter', sans-serif;
$h3: normal 700 40.1px/1.5 'Inter', sans-serif;
$h4: normal 700 33.42px/1.5 'Inter', sans-serif;
$h5: normal 700 27.85px/1.5 'Inter', sans-serif;
$h6: normal 700 23.21px/1.5 'Inter', sans-serif;


$white: #FFFFFF;
$black: #000000;
$primary: #2B0046;
$secondary: #FFD662;
$background: #EEF0FF;
$background_light: #D6D8FC;
$background_dark: #1E1E1E;




